.recomended {
    flex: 0.8;
    background-color: #f9f9f9;
    border-bottom: 0;
    padding: 40px 10px 400px 20px;
    
    
}

.recomended > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recomended_ {
    display: flex;
    flex-wrap:wrap;
}